#### Prepared for Gabor's Data Analysis

### Data Analysis for Business, Economics, and Policy
by Gabor Bekes and  Gabor Kezdi
 
Cambridge University Press 2021

**[gabors-data-analysis.com ](https://gabors-data-analysis.com/)**

 License: Free to share, modify and use for educational purposes. 
 Not to be used for commercial purposes.

### Chapter 08
**CH08B How is life expectancy related to the average income of a country?**

using the worldbank-lifeexpectancy dataset

version 0.9.0 2025-08-14

In [1]:
import os
import sys
import warnings

import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter


warnings.filterwarnings("ignore")

In [2]:
# Current script folder
current_path = os.getcwd()
dirname = current_path.split("da_case_studies")[0]

# location folders
data_in = dirname + "da_data_repo/worldbank-lifeexpectancy/clean/"
data_out = dirname + "da_case_studies/ch08-life-expectancy-income/"
output = dirname + "da_case_studies/ch08-life-expectancy-income/output/"
func = dirname + "da_case_studies/ch00-tech-prep/"
sys.path.append(func)

In [3]:
# Import the prewritten helper functions
import py_helper_functions as da
sns.set_theme(rc=da.da_theme, palette=da.color)

Read clean data

In [4]:
xc = pd.read_csv(data_in + "worldbank-lifeexpectancy.csv")
#xc = pd.read_csv("https://osf.io/download/sh9mu/")

In [5]:
xc

      year          countryname countrycode  lifeexp  population      gdppc
0     1990              Albania         ALB   71.836    3.286542   4.458248
1     1990              Algeria         DZA   66.725   25.758869  10.297842
2     1990               Angola         AGO   41.696   11.848386   4.761230
3     1990  Antigua and Barbuda         ATG   71.351    0.062528  17.472946
4     1990            Argentina         ARG   71.565   32.618651  11.372823
...    ...                  ...         ...      ...         ...        ...
5024  2017              Vietnam         VNM   76.454   94.596642   6.233485
5025  2017   West Bank and Gaza         PSE   73.646    4.454805   4.651724
5026  2017          Yemen, Rep.         YEM   65.157   27.834821   2.404422
5027  2017               Zambia         ZMB   62.255   16.853688   3.717667
5028  2017             Zimbabwe         ZWE   61.712   14.236745   2.568410

[5029 rows x 6 columns]

select year

In [6]:
xc = xc.loc[lambda x: x["year"] == 2017]

 GDP total, log

In [7]:
xc["gdptot"] = xc["gdppc"] * xc["population"]
xc["lngdppc"] = np.log(xc["gdppc"])
xc["lngdptot"] = np.log(xc["gdptot"])

In [8]:
xc.loc[:, ["lifeexp", "gdppc", "gdptot", "lngdppc", "lngdptot"]].describe()

          lifeexp       gdppc        gdptot     lngdppc    lngdptot
count  182.000000  182.000000    182.000000  182.000000  182.000000
mean    72.307650   19.227860    629.823545    2.371420    4.351424
std      7.648017   20.386738   2218.147072    1.182575    2.186134
min     52.214000    0.670777      0.231175   -0.399318   -1.464581
25%     66.829750    4.444143     22.788201    1.491582    3.126207
50%     73.914000   12.253987     74.441676    2.505850    4.309768
75%     77.402500   27.327675    352.111662    3.307899    5.863881
max     84.680488  113.262182  21148.059722    4.729705    9.959303

### Figure 8.3 The distribution of GDP per capita

In [ ]:
sns.histplot(
    
)